<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" mode="md">Home</ion-title>
    <ion-icon slot="start" name="menu" class="ion-padding" size="large"></ion-icon>
    <ion-icon slot="end" name="person-outline" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Al escribir i+algo salen opciones de ionic -->
  <!-- i-text-alignamenet = start , center, end.  -->
  <ion-list-header color="primary" class="ion-text-start" >
    <ion-label>Menu</ion-label>
  </ion-list-header>
    <ion-item detail="true" routerLink="{{item.ruta}}" *ngFor="let item of listaItems">
      <ion-icon slot="start" name="{{item.icono}}"></ion-icon>
      <ion-label>{{item.etiqueta}}</ion-label>
    </ion-item>
</ion-content>
