<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Formulario</ion-title>
  </ion-toolbar>
</ion-header> -->

<app-encabezado titulo="Formulario"></app-encabezado>

<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h1>Pagina de formulario</h1>

    <ion-list>
      <form #miform="ngForm" (ngSubmit)="enviar()">
        <ion-item>
          <ion-input type="text" label="Nombre de Usuario" labelPlacement="floating" placeholder="Usuario" name="usuario" [(ngModel)]="usr"></ion-input>
          
        </ion-item>

        <ion-item>
          <ion-input type="password" label="Contraseña de Usuario" labelPlacement="floating" placeholder="Contraseña"></ion-input>
          
        </ion-item>

        <ion-button type="submit" expand="block" fill="solid">
          Iniciar sesión
        </ion-button>
      </form>
    </ion-list>
  </ion-text>
</ion-content>
